{% load static %}

<div class="container">

    <div class="row">
        <div class="col s12 m3">
            <img class="responsive-img lazyload" alt="above water" data-src="{% static "activite/contenue/Above_Water/above_water.png" %}">
        </div>
        <div class="col s12 m9">
            <blockquote>
                Le Jeu nous propulse à bord de l'Exodus, un vaisseau errant dans l'espace depuis trois siècles à la
                recherche d'une planète habitable. Mais ce voyage est loin de s'apparenter à une croisière de plaisance :
                l'eau manque cruellement et chaque individu doit mériter sa ration. Ainsi, toute personne jugée inutile à
                la société (personnes âgées, malades, faibles...) est arrêtée pour éviter le gaspillage.
                Et comme si le problème de la pénurie d'eau n'était pas assez difficile à vivre, s'ajoute une épidémie
                provoquant des hallucinations et conduisant les individus contaminés vers la folie.
                Vous incarnez Summer, une jeune militaire chargée de traquer les Inutiles ayant pris la fuite, jusqu'à ce
                que vous soyez à votre tour, et sans raison apparente, déclarée comme l'une d'entre eux.
                Vous devrez alors fuir et tenter de survivre avec votre nouveau statut.
            </blockquote>
        </div>
    </div>
    <div class="row">
        <blockquote>
            Above Water est un projet étudiants d'action-infiltration à la première personne destiné à un public
            mature. Nous étions une équipe de 38 étudiants de l'école Bellecour Entertainement en trvaillant sous
            l'Unreal Engine 4. Nous avons alors proposer une démo du jeu pour notre projet d'année.
        </blockquote>
    </div>

    <div class="video-container">
        <iframe width="854" height="480" src="https://www.youtube.com/embed/0uuB46ToHR4" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    </div>
</div>