{% load static %}

<div class="container">

    <div class="row">
        <div class="col s12 m3"></div>
        <div class="col s12 m6">
            <img class="responsive-img lazyload" alt="barababor" data-src="{% static "activite/contenue/Barababor/1.jpg" %}">
        </div>
        <div class="col s12 m3"></div>
    </div>

    <div class="row">
        <div class="col s12 m6">
            <blockquote>
                Barababor raconte les aventures de conquistadors au Q.I équivalent de celui d’une langouste.
                Perdu dans une quête aux trésors menée par un capitaine avide, ils font face à leur plus grand obstacle :
                leurs indescriptibles bêtises.
            </blockquote>
    
            <blockquote>
                Pour ce projet plus que farfelu, notre équipe de 4 Game Designer a réalisé un Board Game sur cette univers
                complétement fou !
            </blockquote>
        </div>
        <div class="col s12 m6">
            <img class="responsive-img lazyload" alt="barababor" data-src="{% static "activite/contenue/Barababor/2.jpg" %}">
        </div>
    </div>

    <div class="row">
        <div class="col s12 m4">
            <div class="card-panel hoverable">
                <a class="center-align" href="http://barababor.com/">Voir le Site Officiel</a>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="card-panel hoverable">
                <a class="center-align" href="https://www.facebook.com/barababor/">Voir la Page Facebook</a>
            </div>
        </div>
        <div class="col s12 m4">
            <div class="card-panel hoverable">
                <a class="center-align" href="https://fr.ulule.com/barababor/">Voir la série sur Ulule !</a>
            </div>
        </div>
    </div>
</div>