{% load static %}

<div class="container">

    <div class="row">
        <div class="col s12 m3">
            <img class="responsive-img lazyload" alt="icon don't stack em up" data-src="{% static "activite/contenue/Dont_Stack_em_up/icon.png" %}">
        </div>

        <div class="col s12 m9">
            <blockquote>
                Don't Stack'em up est un jeu réalisé en 48h dans le cadre de la Global Game Jam (GGJ).
                Le thême de l'année 2015 était : "Mais qu'est-ce qu'on fait maintenant ?"
                On incarnera alors un mystérieux personnage qui un beau jour remarque un cadavre dans sa brouette favoris.
            </blockquote>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m9">
            <blockquote>
                Le but du jeu est de suivre une série d'événement avant de rejoindre sa compagne au cimetière.
                Mais il faudra faire attention au nombre de cadavre que l'on semera sur notre route,
                qui c'est ce qui arrivera à la fin ?
            </blockquote>
        </div>

        <div class="col s12 m3">
            <img class="responsive-img lazyload" alt="don't stack em up" data-src="{% static "activite/contenue/Dont_Stack_em_up/ggj.png" %}">
        </div>
    </div>

    <div class="row">
        <div class="col s12 m3">
            <img class="materialboxed lazyload" alt="don't stack em up" data-caption="" width="250" data-src="{% static "activite/contenue/Dont_Stack_em_up/1.jpg" %}">
        </div>
        <div class="col s12 m3">
            <img class="materialboxed lazyload" alt="don't stack em up" data-caption="" width="250" data-src="{% static "activite/contenue/Dont_Stack_em_up/2.jpg" %}">
        </div>
        <div class="col s12 m3">
            <img class="materialboxed lazyload" alt="don't stack em up" data-caption="" width="250" data-src="{% static "activite/contenue/Dont_Stack_em_up/3.jpg" %}">
        </div>
        <div class="col s12 m3">
            <img class="materialboxed lazyload" alt="don't stack em up" data-caption="" width="250" data-src="{% static "activite/contenue/Dont_Stack_em_up/4.jpg" %}">
        </div>
    </div>
    <div class="row">
        <div class="col s12 m3">
            <img class="materialboxed lazyload" alt="don't stack em up" data-caption="" width="250" data-src="{% static "activite/contenue/Dont_Stack_em_up/5.jpg" %}">
        </div>
        <div class="col s12 m3">
            <img class="materialboxed lazyload" alt="don't stack em up" data-caption="" width="250" data-src="{% static "activite/contenue/Dont_Stack_em_up/6.jpg" %}">
        </div>
    </div>



    <div class="row">
        <div class="col s4"></div>
        <div class="col s4">
            <div class="card-panel center hoverable">
                <a class="center-align" href="https://globalgamejam.org/2015/games/dont-stack-em">Voir le Site GGJ</a>
            </div>
        </div>
        <div class="col s4"></div>
    </div>
</div>