{% load static %}

<div class="container">

    <div class="row">

        <div class="col s12 m3">
            <img class="responsive-img lazyload" alt="gsb" data-src="{% static "activite/contenue/Context_GSB/Logo_GSB.PNG" %}">
        </div>
        <div class="col s12 m9">
            <blockquote>
                Le Context Galaxy Swiss Bourdin (GSB) est un exercice de Projet Personelle encadré (PPE), qui nous demande
                de réaliser une Application Web de gestion de <b>fiches de frais</b> pour les déplacements des employés.

            </blockquote>
            <blockquote>
                Dans ce cadre, nous avons alors réalisé cette Application contenant un système d'authentification des utilisateurs,
                leur permettant d'accèder à une interface de saisie et de consultation des fiches de frais.<br>
                Puis un autre module conçu pour les Comptables, qui leur permet alors de valider, refuser ou
                consulter les frais des employés.
            </blockquote>
            <blockquote>
                Une démonstration est disponible ici: <a href="http://flygsb.ddns.net">Voir le site</a><br>
                Vous pouvez vous connecter avec les identifiants: <br>
            </blockquote>

            <ul class="collection with-header">
                <li class="collapsible-header">Visiteur:</li>
                <li class="collection-item">Utilisateur: <b>dandre</b></li>
                <li class="collection-item">Mot de Passe: <b>adminadmin</b></li>
                <li class="collapsible-header">Comptable:</li>
                <li class="collection-item">Utilisateur: <b>fbunisset</b></li>
                <li class="collection-item">Mot de Passe: <b>adminadmin</b></li>
            </ul>

            <blockquote>
                Cette Application a été réalisé avec le Framework <a href="https://djangoproject.com"><b class="green-text darken-4"><u>Django</u></b></a>
            </blockquote>

        </div>
    </div>

</div>