{% load static %}

<div class="container">

    <div class="row">
        <div class="col s12 m3">
            <img class="responsive-img lazyload" alt="helwyr" data-src="{% static "activite/contenue/Helwyr/photo-main.png"%}">
        </div>
        <div class="col s12 m9">
            <blockquote>
                Helwyr nous fait découvrir une planète du nom de Hirvio habité par les Velmenni, petit robot sans membre
                mais qui sont de redoutable chasseur de prime. Ce jeu vous embarque dans le corps d'un de ces robots dont
                le but sera de chasser les Monstres les plus impressionnant pour atteindre le rang de Chasseur Légendaire !
            </blockquote>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m3"></div>
        <div class="col s12 m6">
            <img class="lazyload" alt="helwyr" data-src="{% static "activite/contenue/Helwyr/anim_attaque.gif"%}">
        </div>
        <div class="col s12 m3"></div>
    </div>

    <div class="row">
        <blockquote>
            Ce jeu a été réaliser dans le but d'un entrainemant aux campagnes participatif, nottament ici "Kickstarter".
            Pour ce projet, nous avons alors réaliser une fausse campagne pour ce projet, visible ici: <a href="https://www.kickstarter.com/projects/1638783538/884906382?ref=503795&token=17f82b3f">Helwyr: Kickstarter</a>
        </blockquote>
    </div>

    <div class="row">
        <div class="col s4"></div>
        <div class="col s4">
            <div class="card-panel center hoverable">
                <a class="center-align" href="{% static "activite/contenue/Helwyr/helwyr.pdf" %}">Voir le Game Concept</a>
            </div>
        </div>
        <div class="col s4"></div>
    </div>
</div>