{% load static %}

<img class="responsive-img lazyload" alt="kraken" style="width: 100%; height: initial" data-src="{% static "activite/contenue/Kraken_Framework/KrakenWallpaper.jpg" %}">
<div class="container">
    <div class="row">
        <p class="flow-text"><b>
            Le Framework Kraken est basé sur le modele MVC (Modele, View, Controller).
            On utilise Python pour le backend et PyQt pour le frontend.
        </b></p>
        <img class="center responsive-img lazyload" alt="kraken" data-src="{% static "activite/contenue/Kraken_Framework/KrakenMVC.PNG" %}">
    </div>
    <h3 class="center-align">Philosophie de Kraken</h3>
    <div class="row">
        <div class="col s2"></div>
        <div class="col s8">
            <img class="responsive-img lazyload" alt="kraken" data-src="{% static "activite/contenue/Kraken_Framework/KrakenVision.PNG" %}">
        </div>
        <div class="col s2"></div>
    </div>
    <h3 class="center-align">Automatisation des tâches</h3>
    <div class="row">
        <div class="col s2"></div>
        <div class="col s8">
            <img class="responsive-img lazyload" alt="kraken" data-src="{% static "activite/contenue/Kraken_Framework/KrakenAutomate.PNG" %}">
        </div>
        <div class="col s2"></div>
    </div>
    <div class="row">
        <div class="col s3"></div>
        <div class="col s6">
            <div class="card-panel center hoverable">
                <a class="center-align" href="{% static "activite/contenue/Kraken_Framework/kraken.pdf" %}">Voir la Présentation</a>
            </div>
        </div>
        <div class="col s3"></div>
    </div>
</div>
