{% load static %}


<div class="container">

    <div class="row">
        <h4>PMU Party !</h4>
    </div>

    <div class="row">

        <blockquote>
            PMU Party est un simple jeu de carte du style PMU, le but êtant de faire avancer les valets jusqu'a une certaine
            distance en retournant les cartes du paquet. <br>
            Les joueurs paries sur une couleur ce qu'ils veulent, le gagnant l'empoche, le reste a un gage :)
        </blockquote>
        <blockquote>
            Le jeu est disponible ici : <a href="http://pmuparty.sytes.net">Voir le Site</a><br>
            Le jeu a été fait avec l'aide de : <b class="green-text darken-4">Django</b>, <b class="pink-text">Materializescss</b>,
            <b class="orange-text">HTML</b>, <b class="blue-text darken-3">CSS</b> et <b class="orange-text darken-4">Javascript</b>
        </blockquote>
    </div>

</div>
