{% load static %}

<div class="container">

    <div class="row">
        <h4>Portfolio</h4>
    </div>

    <div class="row">
        <blockquote>
            Ce Portfolio à été réaliser en HTML, CSS, Python avec le framework Django.
        </blockquote>
    </div>

    <div class="row">
        <div class="col s12 m3">
            <img class="responsive-img lazyload" height=100 width=50% alt="html_css" data-src="{% static "competence/image/html_css.png" %}">
        </div>
        <div class="col s12 m3">
            <img class="responsive-img lazyload" height=100 width=50% alt="css" data-src="{% static "competence/image/css.png" %}">
        </div>
        <div class="col s12 m3">
            <img class="responsive-img lazyload" height=100 width=50% alt="python" data-src="{% static "competence/image/python.png" %}">
        </div>
        <div class="col s12 m3">
            <img class="responsive-img lazyload" height=100 width=50% alt="django" data-src="{% static "competence/image/formation-django.png" %}">
        </div>
    </div>

</div>