{% load static %}

<div class="container">
    <div class="row">
        <div class="col s1">
            <img class="large circle responsive-img lazyload" alt="django" data-src="{% static "activite/contenue/QADjango/django.png" %}">
        </div>
        <div class="s11"><h4 class="center">QADjango</h4></div>
    </div>
    <div class="row">
        <p class="flow-text">
            QADjango est l'extension de l'application QAMachine.
            Réalisé au début de l'année 2018, 1an après la QAMachine, j'ai utilisé le framework
            Django pour réaliser cette application web.
        </p>
        <p class="flow-text">
            Cette application en plus d'afficher les tests ayant tournés pendant la nuit, embarque
            une panoplie de commandes côté serveur, permettant à un "crontab" de gérer l'application
            automatiquement.
        </p>
        <p class="flow-text">
            On répertorie les commandes:
        </p>
        <div class="collection">
            <a href="#arcad" class="collection-item">Update Arcad</a>
            <a href="#scantool" class="collection-item">Scantool</a>
            <a href="#synchro" class="collection-item">Synchronicity Populate</a>
            <a href="#scantest" class="collection-item">Scantest</a>
            <a href="#create_run" class="collection-item">Create Run</a>
            <a href="#run_all" class="collection-item">Run all Test</a>
            <a href="#compare" class="collection-item">Comparison</a>
        </div>

        <div class="collection">
            <a href="#site" class="collection-item">Site</a>
        </div>
    </div>
    <div class="row" id="arcad">
        <h5>Update Arcad</h5>
        <p class="flow-text">
            Cette commande permet par l'intermédiaire d'un fichier yaml, et/ou d'un serveur LDAP, de mettre
            à jour les informations de l'équipe ARCAD dans laquelle j'ai fait mon alternance.
        </p>
        <p class="flow-text">
            On y retrouve l'actualisation des membres de l'équipes, les "Kits" de chacun, le numéro de téléphone,
            leur emplacement etc ...
        </p>
    </div>
    <div class="row" id="scantool">
        <h5>Scantool</h5>
        <p class="flow-text">
            Le "Scantool" est un outil très puissant permettant de fouiller dans tous les disques qui pourraient
            contenir des <b>produits</b> de l'entreprise, l'outil se charge de récupérer les informations
            de ces derniers et les stocks dans la base de données. Cet outil est utilisé pour reconnaitre les
            nouveaux produits parus la veille.
        </p>
    </div>
    <div class="row" id="synchro">
        <h5>Synchronicity Populate</h5>
        <p class="flow-text">
            Cette commande permet de récupérer tous les tests présents sur la base de données Synchronicity et
            les stocks dans un dossier donné en paramètre.
        </p>
    </div>
    <div class="row" id="scantest">
        <h5>Scantest</h5>
        <p class="flow-text">
            Cette commande prenant en paramètre le chemin d'accès au dossier contenant tous les tests, permet
            de détecter pour chaque test scanné si une nouvelle configuration est disponible par rapport aux nouveaux
            produits détectés avec le "Scantool" et ainsi de définir si le test doit être relancé avec la nouvelle
            configuration.
        </p>
    </div>
    <div class="row" id="create_run">
        <h5>Create Run</h5>
        <p class="flow-text">
            Cette commande permet de créer 1 fichier "csh" par test qui doit être relancé. Le fichier csh est
            ensuite utilisé par la prochaine commande.
        </p>
    </div>
    <div class="row" id="run_all">
        <h5>Run all Test</h5>
        <p class="flow-text">
            C'est enfin à cette commande qui cherche dans la base de données, les tests qui doivent être relancés
            et les relances tous en parrallèle avec la nouvelle configuration détectée.
        </p>
    </div>
    <div class="row" id="compare">
        <h5>Comparison</h5>
        <p class="flow-text">
            Une fois les tests relancés, une comparaison est faite entre les <b>GOLDEN FILES</b> et les <b>OUTPUTS</b>
            et permet de déterminer si le test est Pass, Failed, Missing ou Mismatch
        </p>
        <ul class="browser-default">
            <li>Pass: le test a fonctionné avec la nouvelle configuration</li>
            <li>Failed: une erreur s'est produite pendant le processus du test, il ne s'est pas terminé correctement</li>
            <li>Missing: un fichier est manquant dans les OUTPUTS</li>
            <li>Mismatch: des différences ont été détecté entre les fichiers <b>GOLDEN FILES</b> et <b>OUTPUTS</b></li>
        </ul>
    </div>

    <div class="row" id="site">
        <div class="carousel">
            <a class="carousel-item" href="#one!">
                <img class="materialboxed lazyload" alt="qadjango" data-caption="" width="450" data-src="{% static "activite/contenue/QADjango/1_table.PNG" %}">
            </a>
            <a class="carousel-item" href="#two!">
                <img class="materialboxed lazyload" alt="qadjango" data-caption="" width="450" data-src="{% static "activite/contenue/QADjango/2_detail.PNG" %}">
            </a>
            <a class="carousel-item" href="#three!">
                <img class="materialboxed lazyload" alt="qadjango" data-caption="" width="450" data-src="{% static "activite/contenue/QADjango/3_config.PNG" %}">
            </a>
            <a class="carousel-item" href="#four!">
                <img class="materialboxed lazyload" alt="qadjango" data-caption="" width="450" data-src="{% static "activite/contenue/QADjango/4_comparison.PNG" %}">
            </a>
            <a class="carousel-item" href="#five!">
                <img class="materialboxed lazyload" alt="qadjango" data-caption="" width="450" data-src="{% static "activite/contenue/QADjango/5_files.PNG" %}">
            </a>
            <a class="carousel-item" href="#six!">
                <img class="materialboxed lazyload" alt="qadjango" data-caption="" width="450" data-src="{% static "activite/contenue/QADjango/6_mismatch.PNG" %}">
            </a>
            <a class="carousel-item" href="#seven!">
                <img class="materialboxed lazyload" alt="qadjango" data-caption="" width="450" data-src="{% static "activite/contenue/QADjango/7_missing.PNG" %}">
            </a>
        </div>
    </div>
</div>
