{% load static %}

<div class="container">
    <!-- QA MACHINE -->
    <div class="row">
        <div class="col s1">
            <img class="large circle responsive-img lazyload" alt="kraken" data-src="{% static "activite/contenue/Kraken_Framework/octopus.png" %}">
        </div>
        <div class="s11"><h4 class="center">QAMachine</h4></div>
    </div>
    <div class="row center">
        <p class="flow-text">
            La QAMachine est une interface développé en python grâce au framework
            Kraken. Cette application a pour but de faciliter la création de test de régression des
            différents "Kits" de l'équipe ARCAD de ST Microelectronics.
            Cette interface se déroule en 8 étapes:<br>
            <b>New</b><i class="material-icons tiny">keyboard_arrow_right</i><b>Config</b><i class="material-icons tiny">keyboard_arrow_right</i><b>Additionnal Files</b><i class="material-icons tiny">keyboard_arrow_right</i><b>Inputs</b><i class="material-icons tiny">keyboard_arrow_right</i><b>Golden Files</b><i class="material-icons tiny">keyboard_arrow_right</i><b>Dry Run</b><i class="material-icons tiny">keyboard_arrow_right</i><b>Compare</b><i class="material-icons tiny">keyboard_arrow_right</i><b>Export</b>
        </p>
    </div>

    <!-- NEW -->
    <h5>New</h5>
    <div class="row center">
        <p class="flow-text">
            C'est ici que notre utilisateur va entrer les informations du test
        </p>
    </div>
    <div class="row">
        <div class="col s4"></div>
        <div class="col s4">
            <img class="materialboxed lazyload" alt="qamachine" width="350" data-src="{% static "activite/contenue/QAMachine/2_new.png" %}">
        </div>
        <div class="col s4"></div>
    </div>

    <!-- CONFIG -->
    <h5>Config</h5>
    <div class="row center">
        <p class="flow-text">
            Chez STMicroelectronique, une config est créer dans un fichier ".ucdprod" qui lui est lue
            par un Kernel qui permet de clarifier tout type de configuration au sein de l'entreprise.
            Dans cette page, l'utilisateur peut sélectionner une configuration déjà existante ou non.
        </p>
    </div>
    <div class="row">
        <div class="col s4"></div>
        <div class="col s4">
            <img class="materialboxed lazyload" alt="qamachine" width="350" data-src="{% static "activite/contenue/QAMachine/3_config.png" %}">
        </div>
        <div class="col s4"></div>
    </div>

    <!-- ADD FILES -->
    <h5>Additionnals Files</h5>
    <div class="row center">
        <p class="flow-text">
            Les Fichiers additionel au test son utile pour un utilisateur qui voudrais
            ajouter des librairies non incluse de base dans un configuration.
            4 fichiers de base son disponible et obligatoire pour le bon déroulement
            des Tests
        </p>
    </div>
    <div class="row">
        <div class="col s4"></div>
        <div class="col s4">
            <img class="materialboxed lazyload" alt="qamachine" width="350" data-src="{% static "activite/contenue/QAMachine/4_add_files.png" %}">
        </div>
        <div class="col s4"></div>
    </div>

    <!-- INPUTS -->
    <h5>Inputs</h5>
    <div class="row center">
        <p class="flow-text">
            Les "Inputs" sont les fichiers d'entrée pour un produit testé. Par exemple
            les "Inputs" d'une machine à café son <i>l'eau</i> et du <i>café moulue</i>
            c'est ce qui permet de faire fonctionner correctement un produit.
        </p>
    </div>
    <div class="row">
        <div class="col s4"></div>
        <div class="col s4">
            <img class="materialboxed lazyload" alt="qamachine" width="350" data-src="{% static "activite/contenue/QAMachine/5_inputs.png" %}">
        </div>
        <div class="col s4"></div>
    </div>

    <!-- GOLDEN FILES -->
    <h5>Golden Files</h5>
    <div class="row center">
        <p class="flow-text">
            "Golden Files" ou fichier de référence, sont les fichiers qui seront utiliser
            pour une future comparaison. Pour un test X avec une version V, qui génére un fichier Y,
            on attendra que le même test X mais en version V+1 génère exactement le même fichier Y.
            Dans les "Goldens Files", on mettra alors les fichier Y nécessaire.
        </p>
    </div>
    <div class="row">
        <div class="col s4"></div>
        <div class="col s4">
            <img class="materialboxed lazyload" alt="qamachine" width="350" data-src="{% static "activite/contenue/QAMachine/6_golden.png" %}">
        </div>
        <div class="col s4"></div>
    </div>

    <!-- DRY RUN-->
    <h5>Dry Run</h5>
    <div class="row center">
        <p class="flow-text">
            Pour continuer, l'utilisateur devra remplir un fichier <b>"csh"</b> qui permet de prendre
            en compte, les inputs, additionals files et la configuration définis auparavant pour lancer
            le produit tester avec les bonnes information.
        </p>
        <p class="flow-text">
            L'utilisateur clique alors sur "Use Csh Templates", 4 templates de base lui son proposé pour
            l'aider.
        </p>
    </div>
    <div class="row">
        <div class="col s4"></div>
        <div class="col s4">
            <img class="materialboxed lazyload" alt="qamachine" width="350" data-src="{% static "activite/contenue/QAMachine/7_dry_run_1.png" %}">
        </div>
        <div class="col s4"></div>
    </div>
    <div class="row center">
        <p class="flow-text">
            Après avoir bien écrit son fichier "csh", l'utilisateur utilise le boutton "Dry Run"
            pour lancer son test.
        </p>
    </div>
    <div class="row">
        <div class="col s4"></div>
        <div class="col s4">
            <img class="materialboxed lazyload" alt="qamachine" width="350" data-src="{% static "activite/contenue/QAMachine/7_dry_run_2.png" %}">
        </div>
        <div class="col s4"></div>
    </div>
    <div class="row center">
        <p class="flow-text">
            Le test va alors utiliser les fichiers des étapes précédant pour lancer le "Kit" de
            l'utilisateur avec la bonne configuration, inputs ...
        </p>
    </div>
    <div class="row">
        <div class="col s4"></div>
        <div class="col s4">
            <img class="materialboxed lazyload" alt="qamachine" width="350" data-src="{% static "activite/contenue/QAMachine/7_dry_run_4.png" %}">
            <img class="materialboxed lazyload" alt="qamachine" width="350" data-src="{% static "activite/contenue/QAMachine/7_dry_run_5.png" %}">
        </div>
        <div class="col s4"></div>
    </div>
    <div class="row center">
        <p class="flow-text">
            Si le test ne fonctionne pas, l'utilisateur reste bloquer sur cette vue jusqu'a ce
            qu'il réussisse à lancer son test.
        </p>
    </div>
    <div class="row">
        <div class="col s4"></div>
        <div class="col s4">
            <img class="materialboxed lazyload" alt="qamachine" width="350" data-src="{% static "activite/contenue/QAMachine/7_dry_run_3.png" %}">
        </div>
        <div class="col s4"></div>
    </div>

    <!-- COMPARE -->
    <h5>Compare</h5>
    <div class="row center">
        <p class="flow-text">
            Après avoir réussi à lancer son test et le voir se terminer avec succes, arrive l'étape
            de comparaison entre les fichier de sortie du test les "Outputs", contre les précédents
            "Golden Files" paramètré.
        </p>
    </div>
    <div class="row">
        <div class="col s4"></div>
        <div class="col s4">
            <img class="materialboxed lazyload" alt="qamachine" width="350" data-src="{% static "activite/contenue/QAMachine/8_compare_1.png" %}">
        </div>
        <div class="col s4"></div>
    </div>
    <div class="row center">
        <p class="flow-text">
            Si il existe une différence, l'utilisateur peut voir de quoi il s'agit, et peut-être
            décider d'utiliser ces nouveaux fichier en tant que nouveau fichiers de références.
        </p>
    </div>
    <div class="row">
        <div class="col s4"></div>
        <div class="col s4">
            <img class="materialboxed lazyload" alt="qamachine" width="350" data-src="{% static "activite/contenue/QAMachine/8_compare_2.png" %}">
        </div>
        <div class="col s4"></div>
    </div>
    <div class="row center">
        <p class="flow-text">
            Si tout est bon, l'utilisateur peut passer à l'étape suivante.
        </p>
    </div>
    <div class="row">
        <div class="col s4"></div>
        <div class="col s4">
            <img class="materialboxed lazyload" alt="qamachine" width="350" data-src="{% static "activite/contenue/QAMachine/8_compare_3.png" %}">
        </div>
        <div class="col s4"></div>
    </div>

    <!-- FILTER -->
    <h3>Filter</h3>
    <div class="row center">
        <p class="flow-text">
            Pour s'aider à ne pas avoir de "Mismatch" c'est à dire de différence entre deux fichier,
            par exemple une date de lancement de produit. L'utilisateur à accès à un module de filtre
        </p>
    </div>
    <div class="row">
        <div class="col s4"></div>
        <div class="col s4">
            <img class="materialboxed lazyload" alt="qamachine" width="350" data-src="{% static "activite/contenue/QAMachine/9_filter_1.png" %}">
        </div>
        <div class="col s4"></div>
    </div>
    <div class="row center">
        <p class="flow-text">
            Il peut sélectionner une panoplie de filtre déjà existant
        </p>
    </div>
    <div class="row">
        <div class="col s4"></div>
        <div class="col s4">
            <img class="materialboxed lazyload" alt="qamachine" width="350" data-src="{% static "activite/contenue/QAMachine/9_filter_2.png" %}">
        </div>
        <div class="col s4"></div>
    </div>
    <div class="row center">
        <p class="flow-text">
            Consulter ceux qui sont en utilisation
        </p>
    </div>
    <div class="row">
        <div class="col s4"></div>
        <div class="col s4">
            <img class="materialboxed lazyload" alt="qamachine" width="350" data-src="{% static "activite/contenue/QAMachine/9_filter_3.png" %}">
        </div>
        <div class="col s4"></div>
    </div>
    <div class="row center">
        <p class="flow-text">
            En éditer ou créer de nouveau.
        </p>
    </div>
    <div class="row">
        <div class="col s4"></div>
        <div class="col s4">
            <img class="materialboxed lazyload" alt="qamachine" width="350" data-src="{% static "activite/contenue/QAMachine/9_filter_4.png" %}">
        </div>
        <div class="col s4"></div>
    </div>

    <!-- EXPORT -->
    <h5>Export</h5>
    <div class="row center">
        <p class="flow-text">
            Une fois le test complété, l'utilisateur va "Check-In" c'est à dire envoyer son test
            sur une base de données qui ici est synchronicity, une base de données spécialiser pour
            la microelectronique.
        </p>
    </div>
    <div class="row">
        <div class="col s4"></div>
        <div class="col s4">
            <img class="materialboxed lazyload" alt="qamachine" width="350" data-src="{% static "activite/contenue/QAMachine/10_populate_1.png" %}">
        </div>
        <div class="col s4"></div>
    </div>
    <div class="row">
        <p class="flow-text">
            Avant tout, il va "compiler" son Test. Le fait de "compiler" un test, permet d'enlever
            tout les fichiers résiduelle avant d'envoyer ce dernier sur la base de données.
        </p>
    </div>
    <div class="row">
        <div class="col s4"></div>
        <div class="col s4">
            <img class="materialboxed lazyload" alt="qamachine" width="350" data-src="{% static "activite/contenue/QAMachine/10_populate_2.png" %}">
        </div>
        <div class="col s4"></div>
    </div>
    <div class="row">
        <p class="flow-text">
            Une fois compilé, le test peut être envoyé.
        </p>
    </div>
    <div class="row">
        <div class="col s4"></div>
        <div class="col s4">
            <img class="materialboxed lazyload" alt="qamachine" width="350" data-src="{% static "activite/contenue/QAMachine/10_populate_3.png" %}">
        </div>
        <div class="col s4"></div>
    </div>
    <!-- RESUME -->
    <h5>Resume</h5>
    <div class="row">
        <p class="flow-text">
            Les utilisateurs on accès à un menu qui leur permet de reprendre un test à l'état dans
            lequelle il l'on laissé.
        </p>
        <p class="flow-text">
            Ce menu permet nottament de supprimer les tests en création qui ne servent pas/plus.
        </p>
    </div>
    <div class="row">
        <div class="col s4">
            <img class="materialboxed lazyload" alt="qamachine" width="350" data-src="{% static "activite/contenue/QAMachine/11_resume_1.png" %}">
        </div>
        <div class="col s4">
            <img class="materialboxed lazyload" alt="qamachine" width="350" data-src="{% static "activite/contenue/QAMachine/11_resume_2.png" %}">
        </div>
        <div class="col s4">
            <img class="materialboxed lazyload" alt="qamachine" width="350" data-src="{% static "activite/contenue/QAMachine/11_resume_3.png" %}">
        </div>
    </div>

    <!-- CLONE -->
    <h5>Clone</h5>
    <div class="row">
        <p class="flow-text">
            Ce menu permet de cloner les test importé ou les tests compilé, pour facilement
            refabriquer un test presque identique.
        </p>
    </div>
    <div class="row">
        <div class="col s4"></div>
        <div class="col s4">
            <img class="materialboxed lazyload" alt="qamachine" width="350" data-src="{% static "activite/contenue/QAMachine/12_clone.png" %}">
        </div>
        <div class="col s4"></div>
    </div>

    <!-- IMPORT-->
    <h5>Import</h5>
    <div class="row">
        <p class="flow-text">
            Ce menu permet d'importer les test sauvegardé sur le serveur synchronicity.
        </p>
    </div>
    <div class="row">
        <div class="col s4"></div>
        <div class="col s4">
            <img class="materialboxed lazyload" alt="qamachine" width="350" data-src="{% static "activite/contenue/QAMachine/13_import.png" %}">
        </div>
        <div class="col s4"></div>
    </div>
</div>