{% load static %}

<div class="container">

    <div class="row">
        <div class="col s12 m3">
            <img class="responsive-img lazyload" alt="Shogun No Kamigami" data-src="{% static "activite/contenue/Shogun_No_Kamigami/SNK_Titre_Logo.png" %}">
        </div>
        <div class="col s12 m9">
            <blockquote>
                Shogun no Kamigami est un Action-Rpg coopératif à la 3ème personne avec du combat de Boss sur Pc.
                Découvrez une époque historique, le Japon féodal du XVIe siècle, mélangée à l’univers fantastique du folklore japonais où faune et flore sont magnifiées.
                Vous vivez dans un village secret oublié de l’histoire ; vous êtes Samuraï, Shinobi ou Karakuri. Formé aux maniements des armes ainsi qu’aux techniques secrètes de votre clan, vous voilà engagé en plein combat.
                Vous avez à chasser les Kami pour éviter des catastrophes naturelles, comme des tremblements de terre ou des tsunamis et les terrasser pour vous créer armes et armures ainsi que des technologies avancées, ou apaisez-les et gagnez leurs pouvoirs… à condition bien sûr d’en être digne !
                Tout dans Shogun no Kamigami est lié aux éléments. Les Kami et vos sorts sont influencés par l’environnement, vous aurez à apprendre les règles de la Synergie Élémentaire qui gouverne ce monde !
                Suivez l’histoire d’Oda Nobunaga, le Roi Démon, premier unificateur du Japon qui tentera de rallier à lui le pays plongé dans les conflits internes, le Sengoku Jidai.
                Mais vous aurez à faire vos propres choix durant le jeu. Devenez son allié, son ennemi ou tracez votre propre voie !
            </blockquote>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m9">
            <blockquote>
                Dans Shogun no Kamigami vous suivez la trame narrative de la vie d’Oda Nobunaga et de l’Histoire du japon mais d’un point de vue totalement différent, le vôtre !
                Vous êtes un Shugenja, un chasseur de Kami. Votre mission est d’apaiser les Kami en colère qui risqueraient de créer des catastrophes naturelles.
            </blockquote>
        </div>
        <div class="col s12 m3">
            <img class="responsive-img lazyload" alt="Shogun No Kamigami" data-src="{% static "activite/contenue/Shogun_No_Kamigami/01_ClanScarabeeMon.jpg" %}">
        </div>
    </div>

    <div class="row">
        <div class="col s12 m3">
            <img class="materialboxed lazyload" alt="Shogun No Kamigami" data-caption="" width="250" data-src="{% static "activite/contenue/Shogun_No_Kamigami/1.jpg" %}">
        </div>
        <div class="col s12 m3">
            <img class="materialboxed lazyload" alt="Shogun No Kamigami" data-caption="" width="250" data-src="{% static "activite/contenue/Shogun_No_Kamigami/2.jpg" %}">
        </div>
        <div class="col s12 m3">
            <img class="materialboxed lazyload" alt="Shogun No Kamigami" data-caption="" width="250" data-src="{% static "activite/contenue/Shogun_No_Kamigami/3.jpg" %}">
        </div>
        <div class="col s12 m3">
            <img class="materialboxed lazyload" alt="Shogun No Kamigami" data-caption="" width="250" data-src="{% static "activite/contenue/Shogun_No_Kamigami/4.jpg" %}">
        </div>
    </div>
    <div class="row">
        <div class="col s12 m3">
            <img class="materialboxed lazyload" alt="Shogun No Kamigami" data-caption="" width="250" data-src="{% static "activite/contenue/Shogun_No_Kamigami/5.jpg" %}">
        </div>
    </div>

    <div class="row">
        <div class="col s4">
            <div class="card-panel indigo darken-1 center hoverable">
                <a class="white-text" href=https://www.facebook.com/ShogunNoKamigami/"">Suivre sur Facebook</a>
            </div>
        </div>
        <div class="col s4">
            <div class="card-panel center hoverable">
                <a class="center-align" href="http://shogunnokamigami.com">Voir le Site Officiel</a>
            </div>
        </div>
        <div class="col s4">
            <div class="card-panel red center darken-1 hoverable">
                <a class="white-text" href="https://www.youtube.com/channel/UC6764OOf-iGloVquGjZJDsQ">Suivre sur Youtube</a>
            </div>
        </div>
    </div>
</div>