{% load static %}


<div class="container">
    <div class="row">
        <div class="col s12">
            <h5>Un Micro Projet:</h5>
            <blockquote>
                Dans le but d'un micro projet solo en cour, il nous a été demandé d'utiliser les technologies <b>Stack MEAN</b>
            </blockquote>
        </div>
        <div class="col s12">
            <h5>Qu'est-ce que MEAN ?</h5>
            <i> MEAN est une <b>plateforme fullstack JavaScript</b> pour les applications web modernes ».</i>

            <blockquote>
                C'est de cette manière que les auteurs de MEAN Stack la définissent sur leur site Web.
                MEAN vise toutes sortes de développeurs JavaScript (côté serveur et client).
                Node.js, Express et MongoDB côté serveur/bdd, AngularJs côté client.
            </blockquote>

            <p>Ces composants sont :</p>
            <div class="collection">
                <a href="https://www.mongodb.com/" class="collection-item">MongoDB</a>
                <a href="http://expressjs.com/" class="collection-item">Express</a>
                <a href="https://angularjs.org/" class="collection-item">AngularJS</a>
                <a href="https://nodejs.org/en/" class="collection-item">NodeJS</a>
            </div>
            <blockquote>
                Comme vous pouvez le voir, MEAN réunit quatre des technologies les plus utilisées et appréciées pour le
                développement JavaScript, établissant ainsi la base pour créer facilement des applications web
                complexes.
            </blockquote>
        </div>
        <div class="col s12">
            <blockquote>
                Dans le cadre du projet demandé, j'ai alors décidé de créer un site web permettant de s'inscrire pour
                pouvoir jouer et se connecter sur mon propre serveur privé du jeu
                <a href="http://playstarbound.com/">Starbound</a> développé par
                <a href="https://chucklefish.org/">ChuckleFish</a>.
            </blockquote>
            <blockquote>
                Ainsi, les utilisateurs inscrit et connecté au site web peuvent voir l'état actuel du serveur de jeu
                ainsi que le nombre de joueurs connecté.
            </blockquote>
            <p>
                <u>Le site du projet</u>: <a href="http://walka-starbound.servegame.com/home">WALKA Starbound</a>
            </p>
            <p>
                <i>WALKA est un acronyme pour <b>WALK</b>ing <b>A</b>pocalypse qui est un groupe d'amis avec lesquels nous nous réunissons pour jouer à divers jeux.</i>
            </p>
        </div>
    </div>
</div>
