{% load static %}


<div class="container">
    <div class="row">
        <h4><a href="http://sossio-path.com">U-Network</a></h4>
        <h5>Le réseau professionnel dédié aux élèves de Sciences-U</h5>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="card-panel">
                <blockquote>
                    Conçu par des étudiants pour des étudiants, U-Network est le réseau des anciens étudiants de
                    Sciences-U Lyon, Pitiot, Crespa, Efab...
                    <br><br>
                    Cette plateforme permet de retrouver les anciens étudiants de d'une promotion et de suivre
                    l'actualité des différents secteurs d'activités et métiers de l'école.
                    <br><br>
                    U-Network vous apporte des conseils professionnels sur des thématiques comme les entretiens
                    d'embauche, la création de CV, la rédaction de lettres de motivation et sur les techniques de
                    réseautage.
                    <br><br>
                    le site peut aussi être utiliser comme plateforme de recrutement pour des recherches de compétences
                    en Informatique, en Immobilier & Notariat, en Marketing et Commerce, en Communication &
                    Événementiel, en Comptabilité & Gestion ou encore en Ressources Humaines.
                    <br><br>
                    A l’affût de nouvelles compétences spécifiques, de partenaires financiers, de collaborateurs pour le
                    développement de projet ou encore pour une recherche de covoiturage, un Espace Annonce vous est
                    entièrement dédié.
                </blockquote>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <h5>Réalisé avec :</h5>
        </div>
        <div class="col s12 m2">
            <img class="responsive-img lazyload" height=100 width=50% alt="html_css" data-src="{% static "competence/image/html_css.png" %}">
        </div>
        <div class="col s12 m2">
            <img class="responsive-img lazyload" height=100 width=50% alt="css" data-src="{% static "competence/image/css.png" %}">
        </div>
        <div class="col s12 m2">
            <img class="responsive-img lazyload" height=100 width=50% alt="python" data-src="{% static "competence/image/python.png" %}">
        </div>
        <div class="col s12 m2">
            <img class="responsive-img lazyload" height=100 width=50% alt="django" data-src="{% static "competence/image/formation-django.png" %}">
        </div>
        <div class="col s12 m2">
            <img class="responsive-img lazyload" height=100 width=50% alt="django" data-src="{% static "competence/image/nginx.png" %}">
        </div>
    </div>
    <div class="row">
        <p>Adresse du site: <a href="http://sossio-path.com">U-Network</a></p>
    </div>
</div>
