{% load static %}

<!-- Card -->
<div class="col s12 m3">
    <div class="card hoverable">
        <div class="card-image">
            <img alt="miniature-{{ activite.libelle }}" class="lazyload" data-src="{% static activite.miniature %}">
            <span class="card-title {{ activite.libelle_color }}-text"><strong>{{ activite.libelle }}</strong></span>
            <a href="#modal_{{ activite }}" class="modal-trigger btn-floating halfway-fab waves-effect waves-light red pulse"><i class="material-icons">remove_red_eye</i></a>
        </div>
        <div class="card-content" style="height: 200px; overflow-y: auto">
            <p style="text-align: justify;">{{ activite.resume }}</p>
        </div>
    </div>
</div>

<!-- Modal Structure -->
<div id="modal_{{ activite }}" class="modal bottom-sheet modal-fixed-footer">
    <div class="modal-content">
    {% for content in contenue %}
        {% if content.c_type.libelle == "Image" %}
            <img class="responsive-img lazyload" alt="contenu-{{ activite.libelle }}" data-src={% static content.content %}>
        {% elif content.c_type.libelle == "Text" %}
            <p>{{ content.content|safe|linebreaks }}</p>
        {% elif content.c_type.libelle == "Titre" %}
            <h4>{{ content.content|safe }}</h4>
        {% elif content.c_type.libelle == "PDF" %}
            <div class="hide-on-small-only">
                <iframe src="{{ content.content|safe }}" width="100%" height="800px"></iframe>
            </div>
            <div class="hide-on-med-and-up">
                <a class="btn grey darken-2 center" href="{{ content.content|safe }}" target="_blank">Voir PDF</a>
            </div>
        {% elif content.c_type.libelle == "Fichier" %}
            <a href="{{ content.link|safe }}">{{ content.libelle }}</a>
        {% elif content.c_type.libelle == "Html" %}
            {% include content.content %}
        {% endif %}
    {% endfor %}
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn blue pulse"
           style="margin-right: 25px">Fermer</a>
    </div>
</div>
