{% load static %}

<ul class="collapsible hoverable" data-collapsible="accordion">
    {% for type in type_competence %}
    <li>
        <div class="collapsible-header">
            <i class="material-icons right">keyboard_arrow_down</i>{{ type.libelle }}
        </div>
        <div class="collapsible-body no-padding">
            <ul class="collection">
                {% for competence in list_competence %}
                    {% if competence.type_competence == type %}
                    <li class="collection-item avatar">
                        <img data-src="{% static competence.image %}" alt="" class="circle responsive-img lazyload">
                        <span class="title">{{ competence.libelle }}</span>
                        <a class="btn-flat waves-effect waves-teal info tooltipped"
                           data-position="right"
                           data-tooltip="Projet: {{ competence.projet }}"> ? </a>
                        <span class="secondary-content material-icons-compact">
                            {% for star in competence.star %}
                                {% if star == "1" %}
                                    <i class="material-icons right">star</i>
                                {% elif star == "0" %}
                                    <i class="material-icons right">star_border</i>
                                {% else %}
                                    <i class="material-icons right">star_half</i>
                                {% endif %}
                            {% endfor %}
                        </span>
                    </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </li>
    {% endfor %}
</ul>
