{% load static %}

<div class="chip hoverable">
    <img class="lazyload" data-src="{% static outil.image %}" alt="Outil {{ outil.libelle }}">
    <a href="{{ outil.link }}">{{ outil.libelle }}</a>
</div>
