{% load static %}

<ul class="tabs tabs-fixed-width">
    <li class="tab"><a class="active" href="#outils_techno">Outils</a></li>
    <li class="tab"><a href="#doc_techno">Doc</a></li>
</ul>
<div id="outils_techno">
    <div class="container">
        <h5>Veille technologique, Quésaco ?: </h5>
        <div style="text-align: justify;">
            <blockquote>
                La veille technologique est une activité qui met en œuvre des techniques d’acquisition, de stockage et
                d’analyse d’informations, concernant un produit ou un procédé, sur l’état de l’art et l’évolution de son environnement scientifique,
                technique, industriel ou commercial, afin de collecter, organiser, puis analyser et diffuser
                les informations pertinentes qui vont permettre d’anticiper les évolutions, et qui vont faciliter l’innovation.
                Plus simplement, la veille technologique consiste à se tenir au courant de l’actualité afin d’être à
                même de faire de meilleurs choix, d’innover, de créer…
            </blockquote>
        </div>
        <h5>Outils utilisés: </h5>
        {% for outil in outil_veille %}
            {% if outil.type_outil.libelle == "Technologique" %}
                {% include 'mon_site/elem_portfolio/outil_veille.html' %}
            {% endif %}
        {% endfor %}
        <br>
        <br>
    </div>
</div>
<div id="doc_techno">
    <div class="container">
        <h5>Doc</h5>
        <div class="row">
            <div class="col s2"></div>
            <div class="col s8">
                <div class="card-panel hoverable small">
                    <a href="{% static "veille/veille technologique/VeilleTechnologique.pdf"%}">
                        <p class="center-align">Veille Python/Django</p>
                        <img class="responsive-img" alt="veille technologique" src="{% static "veille/veille technologique/python-django-logo.jpg" %}">
                    </a>
                </div>
            </div>
            <div class="col s2"></div>
        </div>
    </div>
</div>
