{% load static %}

<ul class="tabs tabs-fixed-width">
    <li class="tab"><a class="active" href="#outils_juridique">Outils</a></li>
    <li class="tab"><a href="#doc_juridique">Doc</a></li>
</ul>
<div id="outils_juridique">
    <div class="container">
        <h5>Qu'est-ce que la Veille Juridique ?: </h5>
        <div style="text-align: justify;">
            <blockquote>
                La veille juridique est une veille spécialisée dans le domaine du droit,
                elle sert à analyser et suivre les nouvelles réglementations ainsi que celles
                qui sont en préparation (au niveau d’un territoire national).
                Elle comprend aussi dans le cadre européen, le suivi des directives européennes et des
                transcriptions nationales. Elle intègre donc la veille législative, réglementaire,
                jurisprudentielle et/ou doctrinale. La veille juridique consiste plus spécifiquement à
                identifier, traiter et diffuser les informations d'une organisation ou d'un individu
            </blockquote>
        </div>
        <h5>Outils utilisés: </h5>
        {% for outil in outil_veille %}
            {% if outil.type_outil.libelle == "Juridique" %}
                {% include 'mon_site/elem_portfolio/outil_veille.html' %}
            {% endif %}
        {% endfor %}
        <br>
        <br>
    </div>
</div>
<div id="doc_juridique">
    <div class="container">
        <h3>Doc</h3>
        <div class="row">
            <div class="col s4"></div>
            <div class="col s4">
                <a href="{% static "veille/veille juridique/VeilleJuridique.pdf" %}">
                    <div class="card-panel hoverable small">
                        <p class="center-align">Protection et Exploitation des logiciels</p>
                        <img class="responsive-img" alt="veille juridique" src="{% static "veille/veille juridique/veillejuridique.jpg" %}">
                    </div>
                </a>
            </div>
            <div class="col s4"></div>
        </div>
    </div>
</div>
