<ul class="tabs tabs-fixed-width">
    <li class="tab"><a class="active" href="#veille_techno">Veille Technologique</a></li>
    <li class="tab"><a href="#veille_juridique">Veille Juridique</a></li>
</ul>

<div id="veille_techno">
    {% include 'mon_site/elem_portfolio/veille_technologique.html' %}
</div>

<div id="veille_juridique">
    {% include 'mon_site/elem_portfolio/veille_juridique.html' %}
</div>
