{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div id="accueil" class="scrollspy">
        {% include "mon_site/top_carousel.html" %}
    </div>

    <img itemprop="image" id="profile" alt="Florian Couderc" data-src="/static/images/moi.jpg"
         class="large responsive-img lazyload"
         width="156px" height="156px">

    <div class="container">
        <!-- DESCRIPTION -->
        <div class="row">
            <h2 id="presentation" class="scrollspy center">Présentation</h2>
            <div class="col s12 m10">
                <div class="card">
                    <div class="card-content">
                        <p class="flow-text">
                            Bonjour ! Je m'appelle <span itemprop="name"><strong>Florian Couderc</strong></span>, grand
                            passionné de
                            <span itemprop="knowsAbout"><strong>Jeux Vidéo et d'informatique</strong></span> depuis
                            toujours,
                            j'ai dans un premier temps réalisé une
                            <span itemprop="alumniOf" itemscope itemtype="http://schema.org/Organization">
                                <span itemprop="knowsAbout"><strong>Licence en Game Design</strong></span> avec l'école
                                <span itemprop="name"><strong>Bellecour Entertainment</strong></span> à <span
                                    itemprop="address">Lyon</span>
                            </span>.
                            Afin d'acquérir plus d'expérience et de savoir, je me suis ensuite
                            <span itemprop="affiliation" itemscope itemtype="http://schema.org/Organization">
                                orienté vers un
                                <span itemprop="knowsAbout" class="tooltipped" data-position="bottom"
                                      data-tooltip="BTS Services informatiques aux organisations option B solutions logicielles et applications métiers">
                                    <strong><u>BTS SIO en Alternance</u></strong>
                                </span> pour
                                enfin arriver actuellement en
                                <span itemprop="knowsAbout" class="tooltipped" data-position="bottom"
                                      data-tooltip="Chargé de Projets en Systèmes Informatiques Appliqués">
                                    <strong><u>Licence CSIA</u></strong>
                                </span>
                                avec l'école <span itemprop="name"><strong>Sciences-U Lyon</strong></span></span>
                            <span itemscope itemtype="http://schema.org/Corporation">
                                et <span itemprop="name"><strong>STMicroelectronics</strong></span> à <span
                                    class="address">Grenoble</span>.<br>
                            </span>
                            Actuellement <span
                                itemprop="jobTitle"><strong>Chargé de Projet Informatique en Alternance</strong></span>
                            chez STMicroeletronics, je compte
                            continuer ma formation avec l'école
                            <span itemprop="affiliation" itemscope itemtype="http://schema.org/Organization">
                                <span itemprop="name">Sciences-U</span> pour un
                                <span itemprop="knowsAbout" class="tooltipped" data-position="bottom"
                                      data-tooltip="Expert en Ingénierie Informatique spécialité Méthodologie des Systèmes Logiciels">
                                    <strong><u>Mastère EII</u></strong>
                                </span>
                            </span>
                            qui me permettra de finaliser ma professionnalisation en <span itemprop="knowsAbout">Développement de logiciel</span>.<br>
                            Je suis en recherche active d'alternance pour réaliser ma formation future en <strong>BAC+4/5</strong>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col s12 m2">
                <p><i class="material-icons">cake</i>:
                    <time itemprop="birthDate" datetime="1995-01-02"> 24 ans</time>
                </p>
                <p><i class="material-icons">directions_car</i>: Permis B</p>
                <p itemprop="address"><i class="material-icons">location_on</i>: Lyon / Paris / Grenoble</p>
                <p itemprop="knowsAbout"><i class="material-icons">flag</i>: En Alternance</p>
                <p><i class="material-icons light-green-text">brightness_1</i>: Disponible</p>
            </div>
        </div>
        <!------------------>

        <!-- CV -->
        <div class="row">
            <h2 id="cv" class="scrollspy center">Curiculum Vitae</h2>
            <div class="wrapper center">
                <a href="{% static "CV/CV-florian-couderc.pdf" %}" class="btn-floating hoverable blue pulse"><i
                        class="material-icons">file_download</i></a>
            </div>
            <br>
            <!-- PARCOURS -->
            <div class="row scrollspy" id="parcour">
                <div class="col s12 m12 l4">
                    <h3 id="formation" class="scrollspy center">Formations</h3>
                    {% include 'mon_site/material_element/list_collapsible.html' with list_collapsible=formation_elem seo_type="Organization" %}
                </div>

                <div class="col s12 m12 l4">
                    <h3 id="experience" class="scrollspy center">Experiences</h3>
                    {% include 'mon_site/material_element/list_collapsible.html' with list_collapsible=experience_elem seo_type="Corporation" popout=True %}
                </div>

                <div class="col s12 m12 l4">
                    <h3 id="competence" class="scrollspy center">Compétences</h3>
                    <span itemprop="knowsAbout">
                        {% include "mon_site/elem_portfolio/competence.html" %}
                    </span>
                </div>
            </div>
            <!------------------>
        </div>
        <!------------------>

        <!-- ACTIVITE -->
        <div class="row activite" itemprop="knowsAbout">
            <h2 id="activite" class="scrollspy center">Activités</h2>
            <ul class="tabs tabs-fixed-width">
                {% for categorie_activite in categorie %}
                    <li class="tab"><a href="#{{ categorie_activite }}">{{ categorie_activite.libelle }}</a></li>
                {% endfor %}
            </ul>

            {% for categorie_activite in categorie %}
                <div id="{{ categorie_activite.libelle }}" class="col s12 contenue_activite">
                    <div class="row">
                        {% for activite, contenue in activite.items %}
                            {% if activite.categorie == categorie_activite %}
                                {% include 'mon_site/elem_portfolio/activite.html' %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
        <!------------------>

        <!-- VEILLE -->
        <!--<div class="row veille">-->
        <!--<h4 id="veille" class="scrollspy center">Veilles</h4>-->
        {# <!-- {% include 'mon_site/elem_portfolio/veille.html' %} --> #}
        <!--</div>-->
        <!------------------>

        <!-- CONTACT -->
        <div class="row">
            <h2 id="contact" class="scrollspy center">Contact</h2>
            <div class="col s12 m6">
                <p>
                    <b>E-mail: </b><a href="mailto:florian.couderc.pro@gmail.com">florian.couderc.pro@gmail.com</a>
                </p>
                <p>
                    <b>Linkedin: </b><a href="https://www.linkedin.com/in/floriancouderc/">https://www.linkedin.com/in/floriancouderc/</a>
                </p>
                <p>
                    <b>Facebook: </b><a href="https://www.facebook.com/florian.coud.f">https://www.facebook.com/florian.coud.f</a>
                </p>
                <p>
                    <b>Messenger: </b><a href="https://www.m.me/florian.coud.f/">Discuter avec moi sur Messenger</a>
                </p>
                <div class="hide-on-med-and-down">
                    <b>Messenger: </b>
                    <img itemprop="image" class="materialboxed lazyload responsive-img" alt="Florian Couderc"
                         data-caption="scanner avec Messenger pour me contacter ou cliquez ici" width="600"
                         data-src="/static/images/messenger.gif">
                </div>
            </div>
            <div class="col s12 m6">
                <div class="card">
                    <form role="form" action="" method="post">
                        <div class="card-content">
                            {% csrf_token %}
                            {{ contact_form.as_p }}
                            <script src='https://www.google.com/recaptcha/api.js'></script>
                            <div class="g-recaptcha" data-sitekey="6Lc8pp0UAAAAAAkdfZhf14R-ONiHbKWzX21LCPSp"></div>
                        </div>
                        <div class="card-action">
                            <input class="waves-effect waves-light blue btn" type="submit" value="Envoyer">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!------------------>

    </div>
    {{ contact_message|json_script:"contact_message" }}
{% endblock %}

{% block footer_link %}
    <a class="right footer-link" href="https://www.facebook.com/florian.coud.f">
        <img data-src="/static/icon/facebook.png" class="circle lazyload" alt="facebook">
    </a>
    <a class="right footer-link" href="https://www.linkedin.com/in/floriancouderc/">
        <img data-src="/static/icon/linkedin.png" class="circle lazyload" alt="linkedin">
    </a>
{% endblock %}
