{% load static %}

<div class="slider">
    <ul class="slides">
        <li>
            <img class="lazyload" alt="Dev" data-src="{% static "images/carousel/1.jpg" %}"> <!-- random image -->
            <div class="caption left-align">
                <h1>Florian Couderc<br>Developpeur d'application<br>Python / DevOps</h1>
            </div>
        </li>
        <li>
            <img class="lazyload" alt="Dev" data-src="{% static "images/carousel/2.png" %}"> <!-- random image -->
            <div class="caption right-align">
                <h2>Portfolio</h2>
            </div>
        </li>
    </ul>
</div>
