{% extends 'base.html' %}

{% block navbar %}
    {% include 'snippets/nav.html' with user=user %}
{% endblock %}

{% block content %}
<div class="row mt-5 pt-5" xmlns="http://www.w3.org/1999/html">
    {% if user.is_authenticated %}
    <form action="{% url 'logout' %}">
      <p class="h5 mb-4">Bienvenue <strong>{{ user }}</strong></p>
      <a class="waves-effect waves-light btn"><input type="submit" value="Logout"></a>
    </form>
    {% else %}
    <form method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
        <p class="h5 mb-4">{{ title }}</p>
        <hr class="black">
        {{ form }}
        <a class="waves-effect waves-light btn"><input type="submit" value="{{ title }}"/></a>
    </form>
    {% endif %}
</div>
{% endblock %}
