{% load static %}

<head>
    <title>Florian Couderc - Développeur Python / DevOps | Portfolio</title>
    <meta name="google-site-verification" content="5pxoT0PxZUp_8Pcwws7YC79Ibk2R8RpVrSys2V8KfW8"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description"
          content="Florian Couderc, Développeur d'application Python,
      actuellement en Alternance chez STMicroelectronics, je suis une Formation à l'école Sciences-U Lyon.
      Je maitrise aussi les languages Javascript, C#, HTML, CSS. J'utilise souvent le Framework Django pour diverse
      application. J'ai acquis une Licence en Game Design après une Formation à l'école
      Bellecour Entertainement.">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-138159077-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-138159077-1');
    </script>
    <!-- -------------------------------------------- -->
    <link rel="icon" type="image/png" href="{% static "/icon/curriculum-vitae.png" %}"/>
    {% include 'snippets/css.html' %}
</head>
