{% load static %}
<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="{% static 'materialize/js/lazysizes.min.js' %}" async></script>
<script type="text/javascript" src="{% static 'materialize/js/jquery-3.2.1.min.js' %}" defer></script>
<script type="text/javascript" src="{% static 'materialize/js/materialize.min.js' %}" defer></script>
<script type="text/javascript" src="{% static 'materialize/js/ready.js' %}" defer></script>
