{% load static %}

<nav class="top-nav">
    <div class="nav-wrapper">
        <a href="#" class="brand-logo left">
            <img data-src="{% static "/icon/gamepad.png"%}" alt="logo" class="lazyload">
        </a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="#accueil">Accueil</a></li>
            <li><a href="#cv">CV</a></li>
            <li><a href="#activite">Activité</a></li>
            <!--<li><a href="#veille">Veille</a></li>-->
            <li><a href="#contact">Contact</a></li>
        </ul>
    </div>
</nav>
