.top-nav{
    position: fixed;
    top: 0;
    z-index: 200;
    background-color: rgba(0,0,0,0.5);
}

#nav-mobile .active {
    color: #a9e9f6;
}

.footer-link {
    margin-left: 10px;
}

#accueil{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}

.intro{
    z-index: 200;
    position: absolute;
    top: 15%;
    left: 0;
    right: 0;
}

.portfolio{
    /*margin-top: 500px;*/
}

.brand-logo{
    margin-left: 5%;
}

.pin-top {
    position: relative;
}

.pin-bottom {
    position: relative;
}

.pinned {
    position: fixed !important;
}

.table-of-contents a.active{
    border-left-color: black;
}

.table-of-contents a:hover{
    border-left-color: black;
}

.experience .card-content .collection{
    border: None;
    margin: 0;
}

.formation .card-content .collection{
    border: None;
    margin: 0;
}

.experience .card-content .collection .collection-item{
    margin-bottom: 2%;
}

.formation .card-content .collection .collection-item{
    margin-bottom: 2%;
}

.footer-copyright {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}

.tabs .tab a{
    color: black;
}

.tabs .tab a.active{
    color: #22233a;
}

.tabs .tab a:hover{
    color: #355289;
}

.tabs .indicator{
    background-color: #7f92d6;
}

#veille_techno, #veille_juridique{
    border: 1px solid #dedede;
}

.contenue_activite{
    border: 1px solid #dedede;
}

.veille > .tabs{
    border-top: 1px solid #dedede;
    border-right: 1px solid #dedede;
    border-left: 1px solid #dedede;
}

.activite > .tabs{
    border-top: 1px solid #dedede;
    border-right: 1px solid #dedede;
    border-left: 1px solid #dedede;
}

#profile{
    margin-top: 325px;
    position: relative;
    z-index: 5;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid white;
    border-radius: 25px;
}

@media only screen and (min-width: 601px) {
  .container {
    width: 85%;
  }
}

@media only screen and (min-width: 993px) {
    .container {
        width: 85%;
    }
}

.no-padding {
    padding: initial;
}

.div-center {
    margin: 0.5rem 10% 0.5rem 10%;
}

.material-icons-compact .material-icons{
    margin: 0;
}

.info {
    color: #9ab4cf;
    text-decoration: underline dotted;
}

.modal.bottom-sheet {
    max-height: 100%;
}

.modal.modal-fixed-footer{
    height: 100%;
}

.wrapper:before, .wrapper:after{
    content:" ";
    width: 25%;
    height: 1px;
    margin: 0 10px;
    vertical-align: super;
    background-color: #aeaab2;
    border-radius: 80px;
    display:inline-block;
}

blockquote{
    border-left: 5px solid #5d69ee;
}

.slider ul.slides img {
    height: auto;
    width: 100%;
}
