<!DOCTYPE html>
<html lang="fr">
    <head>
        {% include 'snippets/head.html' %}
    </head>

    <body>
        <header>
            {% include 'snippets/navbar.html' %}
        </header>

        <main itemscope itemtype="http://schema.org/Person">
            {% block content %}{% endblock %}
        </main>

        <footer class="page-footer transparent">
            <div class="parallax-container" style="height: 200px; z-index: 100">
                <div class="parallax">
                    <img alt="matrice" data-src="/static/images/background_footer.png" class="lazyload">
                </div>
                <div class="container">
                    {% block footer %}{% endblock %}
                </div>
                <div class="footer-copyright transparent" style="padding: 1rem">
                    <div class="container"><strong>© Florian Couderc - 2019</strong>
                    {% block footer_link %}{% endblock %}
                    </div>
                </div>
            </div>
        </footer>
        {% include 'snippets/js.html' %}
        {% block javascript %}{% endblock %}
    </body>
</html>