{% load static %}


<ul class="collapsible hoverable {% if popout %}popout{% endif %}" data-collapsible="accordion">
    {% for elem in list_collapsible %}
        <li itemscope itemtype="http://schema.org/{{ seo_type }}">
            <div class="collapsible-header">
                <i class="material-icons right">keyboard_arrow_down</i>
                {% if elem.date_fin %}
                    {{ elem.date_debut|date:"Y" }} - {{ elem.date_fin|date:"Y" }} -
                {% else %}
                    {{ elem.date_debut|date:"Y" }} - Aujourd'hui
                {% endif %}
                <b itemprop="name">&nbsp;{{ elem.titre }}</b>
            </div>
            <div class="collapsible-body">
                <p itemprop="name">{{ elem.sous_titre }}</p>
                <p itemprop="knowsAbout">{{ elem.content|safe }}</p>
            </div>
        </li>
    {% endfor %}
</ul>
