<ul class="tabs tabs-fixed-width">
    {% for elem in tabulation %}
        <li class="tab">
            <a href="#{{ elem.id }}">{{ elem.titre }}</a>
        </li>
    {% endfor %}
</ul>

{% for elem in tabulation %}
    <div id="{{ elem.id }}" class="col s12" itemscope itemtype="http://schema.org/{{ seo_type }}">
        <div class="container">
            <p>{{ elem.date_debut|date:"F Y" }} -
                {% if elem.date_fin %}
                    {{ elem.date_fin|date:"F Y" }}
                {% else %}
                    Aujourd'hui
                {% endif %}
            </p>
            <p itemprop="name">{{ elem.sous_titre }}</p>
            <p itemprop="knowsAbout">{{ elem.content }}</p>
        </div>
    </div>
{% endfor %}
